/.metadata
/ConfProfile/.settings
/ConfProfile/.classpath
/ConfProfile/bin
/ConfProfile/gen
/ConfProfile/obj
/ConfProfile/libs/mips
/ConfProfile/libs/x86
/ConfProfile/libs/armeabi
/ConfProfile/libs/armeabi-v7a
/ConfProfile/target
/ConfProfile/assets/*.armeabi
/ConfProfile/assets/*.armeabi-v7a
/ConfProfile/assets/*.mips
/ConfProfile/assets/*.x86
/ConfProfile/ant.properties
/ConfProfile/local.properties
