/.metadata
/ConfProfile/.settings
/ConfProfile/.classpath
/ConfProfile/bin
/ConfProfile/gen
/ConfProfile/obj
/ConfProfile/libs/mips
/ConfProfile/libs/x86
/ConfProfile/libs/armeabi
/ConfProfile/libs/armeabi-v7a
/ConfProfile/target
/ConfProfile/assets/*.armeabi
/ConfProfile/assets/*.armeabi-v7a
/ConfProfile/assets/*.mips
/ConfProfile/assets/*.x86
/ConfProfile/ant.properties
/ConfProfile/local.properties
jscep/
ConfProfileTest/
/ConfProfile/kit-libs/io-fabric-sdk-android_fabric/bin
/ConfProfile/kit-libs/io-fabric-sdk-android_fabric/gen
/ConfProfile/kit-libs/com-crashlytics-sdk-android_crashlytics-core/bin
/ConfProfile/kit-libs/com-crashlytics-sdk-android_crashlytics-core/gen
/ConfProfile/kit-libs/com-crashlytics-sdk-android_crashlytics/bin
/ConfProfile/kit-libs/com-crashlytics-sdk-android_crashlytics/gen
/ConfProfile/kit-libs/com-crashlytics-sdk-android_beta/bin
/ConfProfile/kit-libs/com-crashlytics-sdk-android_beta/gen
/ConfProfile/kit-libs/com-crashlytics-sdk-android_answers/bin
/ConfProfile/kit-libs/com-crashlytics-sdk-android_answers/gen
